.likes-you__wrapper {
  border-radius: 10px;
  background-clip: content-box;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.1s ease-out;
  transform-origin: center;
  will-change: transform;
}

.likes-you__wrapper:hover {
  transform: scale(1.05);
}

.likes-you__border {
  z-index: 0;
}

.likes-you__decoration {
  position: absolute;
  bottom: -12px;
  left: calc(50% - 14px);
  z-index: 99;
}

.likes-you__number {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-image: radial-gradient(
    rgba(230, 175, 22, 0.4),
    rgba(255, 232, 165, 0.4)
  );
  border-radius: 5px;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 3px;
  z-index: 1;
}

.likes-you__number-center {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 50%;
  background-image: linear-gradient(
    45deg,
    rgb(230, 175, 22),
    rgb(255, 232, 165)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.likes-you__number-center i {
  margin-left: 2px;
  font-size: 0.8rem;
  color: #ff4458;
}
